h1 {
    color:#efe0e0;
    font-size:60px;
    text-align:center;
	font-variant:bold;
}

nav {
    color:#efe0e0;
    font-size:20px;
    text-align:center;
	font-variant:bold;
}

ul  {
    color:#efe0e0;
    font-size:30px;
    text-align:center;
	font-variant:bold;
}